<ion-view view-title="">
    <ion-nav-buttons side="left">
        <a class="button button-icon button-clear ion-ios-arrow-left" ui-sref="notes"> &nbsp; Back</a>
    </ion-nav-buttons>
    <ion-content class="padding">
        Use Field Notes to take notes out in your field and get accurate locations for any notes you take.  Whenever you take a note, the app takes the GPS location of your phone to identify where the note was taken.  If you take a picture, the accuracy of the location increases so we recommend using a photo instead.
        <ul class="list">

            <li class="item">
              Author: jgon91@gmail.com
            </li>
            <li class="item">
              Version: 1.0.0
            </li>
        </ul>
    </ion-content>
</ion-view>
